<p id="notice"><%= notice %></p>

<h1>Members Of Wakumo</h1>
<table class="table table-border table-hover table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>DoB</th>
      <th>Age</th>
      <th>Gender</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, member%></td>
        <td><%= member.dob %></td>
        <td><%= member.age %></td>
        <td><%= member.genderr %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
